<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔에 출력하는 appender (모든 환경 공통사항) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SS,Asia/Seoul}] [%-5level] [%thread] [%mdc{requestId}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 개발환경: 콘솔로그만 사용-->
    <springProfile name="default, local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 서버환경: 콘솔로그 + 파일로그 사용-->
    <springProfile name="prod">
        <!-- 로그 파일 저장될 디텍터리 경로-->
        <property name="LOG_PATH" value="/var/log/vibe"/>

        <!-- 파일로 로그저장, 매일 롤링하는 appender -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 현재 로그 파일-->
            <file>${LOG_PATH}/vibe.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 날짜 형식에 따라 로그파일 생성-->
                <fileNamePattern>${LOG_PATH}/vibe-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <!-- 보관 할 파일 일수-->
                <maxHistory>50</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>
                    [%d{yyyy-MM-dd HH:mm:ss.SS,Asia/Seoul}] [%-5level] [%thread] [%mdc{requestId}] %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>